.card {
  margin: 10px auto 0;
  max-width: 400px;
  border: 2px solid var(--color-dark);
  border-radius: 5px;
  background-color: var(--color-light);
  text-align: center;
  padding-top: 15px;
  font-size: 24px;
  overflow: hidden;
}
.cardHeader {
  margin-bottom: 20px;
}
.cardHeader p {
  margin-bottom: 10px;
}
.cardHeader p:not(:nth-child(2)) {
  color: var(--color-gray);
}
.img {
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--color-dark);
  margin-bottom: 15px;
}
.name {
  font-size: 32px;
  font-weight: 700;
}
.list {
  display: flex;
}
.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  border-top: 2px solid var(--color-gray);
  flex: 1;
  background-color: var(--color-gray-background);
}
.listItem:not(:last-child) {
  border-right: 2px solid var(--color-gray);
}
.listItemCount {
  font-weight: 700;
}
